@{
    ViewData["Title"] = "Home Page";

    var alert = "bu bir uyari mesajidir";
}

@section Css
{
    <style>
        h1 {
            font-size: 24px;
            color: orange;
            background-color: grey;
        }
    </style>

    <link rel="stylesheet" href="~/css/example.css" asp-append-version="true" />

}

@section Scripts
{
    @*İlk Derste Yapılan Örnekler*@
@*    <script type="text/javascript">
    //alert("hoş geldin")
        
    $(document).ready(function(){
        console.log("hoş geldin")
    })
    </script>*@
}

<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.productListPartialViewModel" />
    </div>
    
    <div class="col-md-4">
        @*1.yol*@
        @await Component.InvokeAsync("ProductList", new { type = 1 })
    </div>

    <div class="col-md-4">
        @*2.yol*@
        <vc:product-list type=1></vc:product-list>
    </div>
</div>









@*İlk Derslerde Yapılan Örnekler*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>@DateTime.Now.ToShortDateString()</div>

@{
    var dateTime = DateTime.Now.ToShortDateString();
    var message = "merhaba";

    // text göstermek için @: kullanılır veya html tag leri içerisinde yazılır
    @: bugünün tarihi: @dateTime

    <div>mesaj: @message</div>
    <text>bugünün tarihi: @dateTime</text>
}

<hr/>

@*if - else koşulları*@
@if (true)
{
    <p>doğru</p>
}
else if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    <p>artık yıl</p>
}
else
{
    <h1>@alert</h1>
    <p>yanlış</p>
}

<hr/>

@*Donguler for - foreach - while*@
@for (var i = 0; i < 4; i++)
{
    <p>@i</p>
}

<hr/>

@foreach (var item in Enumerable.Range(1, 3).ToList())
{
    <p>@alert @item</p>
}

<partial name="_MenuPartialView"/>

@*farklı bir kullanım olarak da aşağıdaki gibi kullanılabilir*@
@await Html.PartialAsync("_MenuPartialView")

@*aynı şekilde async olmadan da kullanılabilir ama tercih edilmez*@
@Html.Partial("_MenuPartialView")

<h1>css section eklendi</h1>
<h2>css section a css dosyası eklendi</h2>